.episodesPics {
    height: 200px;
    width: 300px;
    position: relative;
}

.info {
    width: 50%;
    position: relative;
    z-index: 1;
    padding: 5rem 0rem 5rem 1rem;
}

.limitAge {
    border: 1px solid #9b9a97;
    border-radius: 5px;
    padding: 1px;
}

.additional {
    color: #9b9a97;
    display: flex;
    font-family: 'Bebas Neue', sans-serif;
    margin: 1rem 0 2rem;

    span {
        margin-right: 1rem;
        font-size: 18px;
    }
}

.description {
    font-size: 18px;
    line-height: 1.65;
    color: #9b9a97;
    margin-bottom: 3rem;
    font-family: 'Arial', sans-serif;
}

.arrow {
    margin-left: -1rem;
    margin-bottom: -4rem;
}