body, *, *:before, *:after {
   box-sizing: border-box;
}

body, html {
   background-color: #0f1011;
   overflow-x: hidden;
}

body {
   margin: 0;
   font-size: 16px;
   padding: 0;
}

button {
   cursor: pointer;
}